## This is a peer comparison project. Suppose that you are working for Samsung in customer experience management team. The idea is to regularly monitor the customer satisfaction levels and peer company moves. The competitor company is Apple. The objective is to test two main hypothesis. 
 
### 1. The Samsung Average customer satisfaction score is minimum 75%.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import scipy.stats as stats

In [4]:
import math

In [5]:
hypo_test = pd.read_csv('Testing_Of_Hypothesis.csv')

In [6]:
hypo_test.head(2)

   Sr No S_Cust_id  Samsung Score Apple_Cust_id  Apple_Score
0      1   S336499             94       A336525           82
1      2    S73004             99        A73011           83

In [7]:
stats.ttest_1samp(a = hypo_test['Samsung Score'], popmean =.75 )

Ttest_1sampResult(statistic=71.04544333284052, pvalue=9.363678705227256e-87)



# p is low: Alternate accepted. Customer satisfaction is not 75

### 2. The overall average satisfaction score of Samsung is same as Apple. There is no significant difference in the satisfaction scores

In [8]:
stats.ttest_rel(a=hypo_test['Samsung Score'], b=hypo_test.Apple_Score)

Ttest_relResult(statistic=-1.9015800946572132, pvalue=0.06013359092250471)



# p is high: NULL Accepted i.e there is no significant difference in the satisfaction scores