# Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [11]:
import pandas as pd

### Step 2. Import the dataset *chipotle.tsv*

In [12]:
chipo = pd.read_table("chipotle.tsv",sep="\t")

### Step 3. Assign it to a variable called chipo.

In [13]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00? 

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [14]:
chipo.item_price=chipo.item_price.str.replace('$',"")
chipo.item_price=chipo.item_price.astype('float64')
count=chipo[chipo['item_price']>10].item_name.count()
print("Number of products to cost more than $10.00 are ",count)

Number of products to cost more than $10.00 are  1130

### Step 5. What is the price of each item? 

print a data frame with only two columns `item_name` and `item_price`

In [15]:
df1=chipo[['item_name', 'item_price']]
df1.groupby('item_name').item_price.mean()

item_name
6 Pack Soft Drink                         6.610185
Barbacoa Bowl                            10.187273
Barbacoa Burrito                          9.832418
Barbacoa Crispy Tacos                    10.928182
Barbacoa Salad Bowl                      10.640000
Barbacoa Soft Tacos                      10.018400
Bottled Water                             1.867654
Bowl                                     14.800000
Burrito                                   7.400000
Canned Soda                               1.320577
Canned Soft Drink                         1.457641
Carnitas Bowl                            10.833971
Carnitas Burrito                         10.132712
Carnitas Crispy Tacos                    11.137143
Carnitas Salad                            8.990000
Carnitas Salad Bowl                      11.056667
Carnitas Soft Tacos                       9.398500
Chicken Bowl                             10.113953
Chicken Burrito                          10.082857
Chicken Crispy Tacos                     10.045319
Chicken Salad                             9.010000
Chicken Salad Bowl                       11.170455
Chicken Soft Tacos                        9.635565
Chips                                     2.342844
Chips and Fresh Tomato Salsa              3.285091
Chips and Guacamole                       4.595073
Chips and Mild Fresh Tomato Salsa         3.000000
Chips and Roasted Chili Corn Salsa        3.084091
Chips and Roasted Chili-Corn Salsa        2.390000
Chips and Tomatillo Green Chili Salsa     3.087209
Chips and Tomatillo Red Chili Salsa       3.072917
Chips and Tomatillo-Green Chili Salsa     2.544194
Chips and Tomatillo-Red Chili Salsa       2.987500
Crispy Tacos                              7.400000
Izze                                      3.390000
Nantucket Nectar                          3.641111
Salad                                     7.400000
Side of Chips                             1.840594
Steak Bowl                               10.711801
Steak Burrito                            10.465842
Steak Crispy Tacos                       10.209714
Steak Salad                               8.915000
Steak Salad Bowl                         11.847931
Steak Soft Tacos                          9.746364
Veggie Bowl                              10.211647
Veggie Burrito                            9.839684
Veggie Crispy Tacos                       8.490000
Veggie Salad                              8.490000
Veggie Salad Bowl                        10.138889
Veggie Soft Tacos                        10.565714
Name: item_price, dtype: float64

### Step 6. Sort by the name of the item

In [16]:
chipo=chipo.sort_values('item_name')
chipo.head()

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [17]:
chipo['quantity'][chipo.item_price==chipo.item_price.max()]

3598    15
Name: quantity, dtype: int64

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [18]:
chipo[chipo.item_name=='Veggie Salad Bowl'].item_name.count()

18

### Step 9. How many times people orderd more than one Canned Soda?

In [19]:
chipo.loc[(chipo.item_name=='Canned Soda') & (chipo.quantity>1)].order_id.count()

20